body {
    margin: 0;
    padding: 0;
}

#header{
    background-color: black;
    height: 92px;

}
.container {
    
    width: 90%;
    margin: auto;
    overflow: hidden;
    height: 338px;
    
}
form {
    margin: 20px;
    padding: 10px;
}
input[type="email"] {
    width: 100%;
    height: 41px

}

input[type="password"] {
    width: 100%;
    height: 41px;
    margin-top: 5px;
}


#footer{
    position: fixed;
    width: 100%;
    background-color: black;
    height: 92px;
    bottom: 0;
    left: 0;

}
.pass {
    margin-top: 26px;
    margin-bottom: 12px;
}
label {
    font-weight: bold;
    font-size: 15pt;
}
input {
    margin-bottom: 15px;

}
input[type="submit"] {
    padding: 10px;
    background-color: blue;
    border-radius: 5px;
    color: white;
    font-size: 12pt;
}
