body {
    background-color:white;
    font-family: Helvetica;
    font-size: 13pt;
}

body h1{
    color:#2B547E;
    text-align: center;
}

#moods img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    vertical-align: bottom;
}
/* trying to make a first letter big */
.flbig{
    font-size: 20pt;
    font-style: italic;
}

#footer {
    float: right;
}
/* All below css are for Extra credit */
#movies a{
    color: red;
    text-decoration: none;
}

#movies a:hover{
    text-decoration: underline;
}

dl {
    margin-top: 4px;
    font-size: 10pt;
   
}
 dt{
     padding: 4px;
     color: #cc9900;

}
#headerp::first-letter {
     color: #903;
  float: left;

    border-radius: 50%;  font-family: Georgia;
  font-size: 50px;
  line-height: 20px;
  padding-top: 4px;
  padding-left: 3px;
}
