body {
    background-color:white;
    font-family: Helvetica;
    font-size: 13pt;
}

body h1{
    color:#2B547E;
    text-align: center;
}

#moods img{
    width: 500px;
    height: 500px;
    border-radius: 50%;
}
/* trying to make a first letter big */
.flbig{
    font-size: 20pt;
    font-style: italic;
}

#footer {
    float: right;
}
#movies a{
    color: red;
    text-decoration: none;
}