.txt {
    font-weight: bold;
    color: green;
    text-decoration: underline;
}
.txt2 {
    font-weight: normal;
    color: black;
    text-decoration: none;
}
textarea {
    height: 100px;
    width: 364px;
}