body {
    background-color: white;
    text-align: left;
    font-size: 11pt;
    font-family: Georgia;
    background-image: url('../../images/recipeImages/silverware.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
    color: #A4A400;
    text-decoration: underline;
    font-size:22pt ;
    font-family: "Lucida Sans Unicode";
    letter-spacing: 0.25cm;
}
/* Extra credit */
h1 span{
    background-color: #F0F0F0 ;
}
/* for the top header */
#header {
    text-align: center;
}

#firstdiv p {
    list-style: none;
    text-align: left;   
    line-height: 5px;
}

#cake {
    text-decoration:line-through;
}
blockquote {
    background-color: #FFFFA8 ;
}
blockquote p {
    font-style: italic;
}
#linkdiv a {
    color: #A4A400;
    display:block;
}
#footer {
    float: right;
}

/* Extra Credit */
ul li {
    list-style-image: url('../../images/recipeImages/pie_icon.gif');
}